body {
  background-color: #4D9BE2;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4DE291;
  min-width: 100px;
  max-width: 400px;
  margin: 100px auto;
  color: rgba(0, 0, 0, 0.5);
  font-size: 40px;
  font-weight: bold;
  border-radius: 20px;
  padding: 20px;
}
