.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #374777;
  padding: 50px;
  gap: 20px;
  border-radius: 20px;
  background-image: linear-gradient(135deg, #661A97, #4A1A97, #271A97)
}
h2 {
  color: #fff;
}
.rp {
  height: 30px;
  width: 150px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 20px;
}
button {
  border: 2px solid #374777;
  color: #374777;
  background-color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}
button:active {
  transform: scale(0.88);
}