body {
  background-color: #023766;
}
.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}
.parent input {
  padding: 10px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #000;
}
.parent img {
  margin-left: -25px;
  width: 14px;
}